:root {
    --color-primary: rgb(50, 50, 50);
    --color-secondary: rgb(255, 255, 255);
    --color-muted: rgb(162, 162, 162);
    --highlight-primary: rgb(0, 255, 102);
    --highlight-secondary: rgb(255, 0, 255);
    --color-mark: rgb(253, 216, 53);
    --color-button: rgb(30, 136, 229);
}

body {
    background-image: url("src/main-background.png");
    background-repeat: repeat;
    background-size: 45%;
    width: 100%;
    height: 100%;
    margin: 0;
    
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to bottom right,
        #F44336,
        #FF5722,
        #FFEB3B,
        #7CB342,
        #4CAF50,
        #26C6DA,
        #03A9F4,
        #1565C0,
        #512DA8,
        #9C27B0);
}

header {
    display: flex;
    flex-direction: column;
}

header .inner {
    text-align: center;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

header .title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 11vw;
    color: var(--color-primary);
    line-height: 11vw;
}

header .subtitle {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.4vw;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5vw;
}

nav a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 5vw;
    color: var(--color-primary);
    line-height: 10vw;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 3vw;
}

.symbol-primary-1 {
    display: block;
    color: var(--highlight-primary);
    font-size: 5vw;
    line-height: 5vw;
}

.symbol-primary-2 {
    display: none;
}

.symbol-secondary {
    color: var(--highlight-secondary);
    font-size: 1.2em;
}

.book-image {
    display: flex;
    justify-content: center;
}

.book-image .card {
    width: 35%;
    margin: 0 auto;
    box-shadow: 0px 10px 40px 3px var(--color-primary);
}

.whats-new {
    clip-path: polygon(0 5%,
            /* left top */
            100% 0,
            /* right top */
            100% 100%,
            /* right bottom */
            0 95%
            /* left bottom */
        );
    background-color: var(--color-primary);
    padding: 10% 5% 5% 5%;
    margin: 3vh 0 5vh 0;
    color: var(--color-secondary)
}

.whats-new .label {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 3.5vw;
    color: var(--color-secondary);
    text-transform: uppercase;
    text-align: end;
    line-height: 3.5vw;
    margin: 0 0 5vw 0;
}

.whats-new .title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 9vw;
    color: var(--color-secondary);
    text-align: start;
    margin: 3vw 0;
}

.whats-new .subtitle {
    display: flex;
    flex-direction: row;
    margin: 0 0 8vw 0;
}

.whats-new .subtitle .item {
    display: flex;
    flex-direction: column;
    margin: 0 5vw 0 0;
}

.whats-new .subtitle .item .small {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 3vw;
    color: var(--color-muted);
    text-align: start;
    text-transform: uppercase;
    line-height: 3vw;
}

.whats-new .subtitle .item .large {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 9vw;
    color: var(--color-secondary);
    text-align: start;
    line-height: 9vw;
}

.whats-new hr {
    margin: 10vw 0 5vw 0;

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-muted);
    padding: 0;
}

.whats-new .content {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3.5vw;
    line-height: 6vw;
    letter-spacing: 0.1vw;
}

.whats-new .cool-ref {
    display: block;
    text-align: center;
    padding: 3vw 0;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right,
        #F44336,
        #FF5722,
        #FFEB3B,
        #7CB342,
        #4CAF50,
        #26C6DA,
        #03A9F4,
        #1565C0,
        #512DA8,
        #9C27B0);
    border-image-slice: 1;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: calc(4vw);
    letter-spacing: 0.1vw;
}

.whats-new .small-ref {
    display: block;
    text-align: center;
    padding: 3vw 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    letter-spacing: -0.1vw;
    color: var(--color-secondary);
    text-decoration: underline dotted;
}

.description .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.description .card img {
    width: 15%;
    height: auto;
}

.description .card .title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 575;
    font-style: normal;
    font-size: 5vw;
    color: var(--color-primary);
    text-align: start;
    margin: 4vw 0 2vw 0;
    text-transform: uppercase;
}

.description .card .desc {
    text-align: center;
    color: var(--color-primary);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    line-height: 6vw;
    letter-spacing: 0.1vw;
}

.description .card .desc p {
    margin: 2vw 0;
}

mark {
    background-color: var(--color-mark);
    font-weight: 700;
    padding: 1vw;
}

.button-set {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 5vw 2vw 5vw;
    height: 10vw;
}

.button-set .button {
    background-color: var(--color-button);
    border-radius: 50px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 575;
    font-style: normal;
    font-size: 4vw;
    color: var(--color-secondary);
    text-align: center;
    padding: 2vw 4vw;
    display: flex;
    align-items: center;
}

.button-set .button-up {
    max-width: 10%;
}

.button-set .button-up img {
    max-width: 100%;
}

/*--------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {
    :root {
        --highlight-primary: rgb(25, 118, 210);
        --highlight-secondary: rgb(255, 0, 255);
    }

    body {
        background-size: 20%;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 4vw 0 0 2vw;
    }
    
    header .inner {
        margin: 0 auto;
    }

    header .logo {
        display: flex;
        flex-direction: column;
    }

    header .title {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
        font-size: 8vw;
        color: var(--color-primary);
        line-height: 8vw;
    }
    
    header .subtitle {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-size: 2vw;
        text-transform: uppercase;
        letter-spacing: 0vw;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 3vw;
    }
    
    nav a {
        padding: 4vw 0;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
        font-size: 2vw;
        color: var(--color-primary);
        line-height: 2vw;
        text-transform: uppercase;
        letter-spacing: 0;
        margin: 0 1vw;
    }
    
    .symbol-primary-1 {
        display: none;
    }

    .symbol-primary-2 {
        display: inline;
        color: var(--highlight-primary);
        font-size: 2vw;
        line-height: 2vw;
    }
    
    .symbol-secondary {
        color: var(--highlight-secondary);
        font-size: 1.2em;
    }
    
    .book-image {
        display: flex;
        justify-content: center;
    }
    
    .book-image .card {
        width: 45%;
        margin: 0 auto;
        box-shadow: 0px 10px 40px 3px var(--color-primary);
    }
    
    .whats-new {
        clip-path: polygon(0 5%,
                /* left top */
                100% 0,
                /* right top */
                100% 100%,
                /* right bottom */
                0 95%
                /* left bottom */
            );
        background-color: var(--color-primary);
        padding: 10% 5% 10% 5%;
        margin: 3vh 0 5vh 0;
        color: var(--color-secondary)
    }
    
    .whats-new .label {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
        font-size: 5vw;
        color: var(--color-secondary);
        text-transform: uppercase;
        text-align: end;
        line-height: 5vw;
        margin: 0 20px 20px 0;
    }
    
    .whats-new .title {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
        font-size: 10vw;
        color: var(--color-secondary);
        text-align: start;
        margin: 20px 0;
    }
    
    .whats-new .subtitle {
        display: flex;
        flex-direction: row;
        margin: 0 0 8vw 0;
    }
    
    .whats-new .subtitle .item {
        display: flex;
        flex-direction: column;
        margin: 0 5vw 0 0;
    }
    
    .whats-new .subtitle .item .small {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
        font-size: 3.5vw;
        color: var(--color-muted);
        text-align: start;
        text-transform: uppercase;
        line-height: 3.5vw;
    }
    
    .whats-new .subtitle .item .large {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
        font-size: 10vw;
        color: var(--color-secondary);
        text-align: start;
        line-height: 10vw;
    }
    
    .whats-new hr {
        margin: 5vw 0;
    
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid var(--color-muted);
        padding: 0;
    }
    
    .whats-new .content {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 4vw;
        line-height: 7vw;
        letter-spacing: 0.1vw;
    }
    
    .whats-new .cool-ref {
        display: block;
        text-align: center;
        padding: 3vw 0;
        border: 10px solid transparent;
        border-image: linear-gradient(to bottom right,
            #F44336,
            #FF5722,
            #FFEB3B,
            #7CB342,
            #4CAF50,
            #26C6DA,
            #03A9F4,
            #1565C0,
            #512DA8,
            #9C27B0);
        border-image-slice: 1;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: calc(4vw);
        letter-spacing: 0.1vw;
    }
    
    .whats-new .small-ref {
        display: block;
        text-align: center;
        padding: 3vw 0;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 4vw;
        letter-spacing: -0.1vw;
        color: var(--color-secondary);
        text-decoration: underline dotted;
    }
    
    .description .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw;
    }
    
    .description .card img {
        width: 20%;
        height: auto;
    }
    
    .description .card .title {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 575;
        font-style: normal;
        font-size: 6.25vw;
        color: var(--color-primary);
        text-align: start;
        margin: 20px 0;
        text-transform: uppercase;
    }
    
    .description .card .desc {
        text-align: center;
        color: var(--color-primary);
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 4vw;
        line-height: 7vw;
        letter-spacing: 0.1vw;
    }
    
    .description .card .desc p {
        margin: 2vw 0;
    }
    
    mark {
        background-color: var(--color-mark);
        font-weight: 700;
        padding: 1vw;
    }
    
    .button-set {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 0 2vw 0;
    }
    
    .button-set .button {
        background-color: var(--color-button);
        border-radius: 50px;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 575;
        font-style: normal;
        font-size: 4vw;
        color: var(--color-secondary);
        text-align: center;
        padding: 2vw 6.5vw;
        display: flex;
        align-items: center;
    }
    
    .button-set .button-up {
        background-color: var(--color-secondary);
        height: 10.5vw;
        width: auto;
    }
}